.profile-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.card{
    flex: 1 1 45%;
    backround: rgba(225,225,225,0.08);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: greenyellow 0 10px 25px;
    transition: tranform 0.2s ease;
}
.card:hover{
    transform: scale(1.03);
}

.about{
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.stats{
    background: linear-gradient(135deg,#ff512f,#dd2476);
}

.goals{background: linear-gradient(135deg,#8e2de2,#4a00e0);
}

.profile-img{
    width: 200px;
    display: block;
    margin: 15px auto;
    border-radius: 15px;
    border: 3px solid darkslategray;
}
body {
    background: darkcyan;
}
.skills{
    flex: 1 1 45%;
    backround: rgba(225,225,225,0.08);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: greenyellow 0 10px 25px;
    transition: tranform 0.2s ease;

}



















